<%- include('../partials/header') %>

<div id="index-view">
  <div id="index-container" class="container">
    <table class="table is-hoverable has-background-light" id="games-list">
      <tbody>
      <% games.forEach(function(g) { %>
        <tr class="index-row" onclick="window.location.href='/games/<%= g._id %>'">
          <td>
            <img id="index-art" src="<%= g.boxArt %>" alt="">
          </td>
          <td><%= g.name %></td>
          <td><%= g.releaseYear %></td>
          <% if (g.reviews.length > 0) { %> 
            <td id="index-review">
              <%= g.reviews[0].review.substring(0, 240)  %>... 
            </td>
            <% } else { %>
              <td id="index-review">No Reviews Yet</td>
            <% } %>      
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>    
</div>

<%- include('../partials/footer') %> 

