<%- include('../partials/header') %>

<table id="games list">
  <thead>
    <tr>
      <th>Title</th>
      <th>Release<br>Year</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% games.forEach(function(g) { %>
      <tr>
        <td><%= g.name %></td>
        <td><%= g.releaseYear %></td>
        <td><a href="/games/<%= g._id %>">DETAILS</a></td>
        <td>
          <form action="/games/<%=g._id%>?_method=DELETE" method="POST">
            <button class ="small-button red-button" type="submit">X</button>
          </form>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>


<section class="add-game">
  <% if (user) { %>
    <a href="/games/new">Add New Game</a>
  <% } else {} %>
</section>   

<%- include('../partials/footer') %> 

