<%- include('../partials/header') %>

<section id="show-page">
  <div>Title: </div>
  <div><%= game.name %></div>
  <div>Release Year: </div>
  <div><%= game.releaseYear %></div>
</section>

<br><br><h2>Reviews</h2>
<section class="add-reviews">
  <% if (user && review.gamer != user._id) { %>
    <form id="add-review-form" method="POST"
    action="/games/<%= game._id %>/reviews">
    <label>Review:</label>
    <textarea name="review"></textarea>
    <!-- <label>Rating:</label> -->
    <!-- <select name="rating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select> -->
    <input type="submit" value="Add Review">
  </form>
  <% } else {} %>
</section>




<% if (game.reviews.length) { %>
  <table>
    <thead>
      <tr>
      	<th>Date</th>
        <th>Review</th>
        <!-- <th>Rating</th> -->
      </tr>
    </thead>
    <tbody>
      <% game.reviews.forEach(function(r) { %>  

        <tr>
          <td><%= r.createdAt.toLocaleDateString() %></td>
          <td><%= r.review %></td>
          <!-- <td><%= r.rating %></td> -->
          <div class="user-review">
            <% if (user && r.gamer.equals(user._id)) { %>
              <td><a href="/reviews/<%=r._id%>/edit">Edit</a></td>
              <td>
                <form action="/reviews/<%=r._id%>?_method=DELETE" method="POST">
                  <button class ="small-button red-button" type="submit">X</button>
                </form>
              </td>
            <% } %> 
          </div>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>No Reviews Yet</h5>
<% } %>

<%- include('../partials/footer') %>